/* display background color black on navbar scroll */
.navbar {
    background-color: black;
}
/* hero background image */
.bgimage {
    height:100vh;
    max-width: 100%;
    background: url('images/bannerImage1.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 3rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    width: 100%;
}
#contact {
    padding-bottom: 4rem;
}

.card {
    cursor: pointer;
}
 
.card:hover {
    background-color: lightgreen;
    border: 2px solid yellow;
}

.bIcon {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid yellowgreen;
}

.card-img-top {
    height: 50vh;
}